@import 'colors';

@mixin pokemon-stat-bar-color($color, $lighten: 20) {
    ::ng-deep {
        // The 'fill' color
        .mat-progress-bar-fill::after {
            background-color: $color;
        }

        // The 'background' color
        .mat-progress-bar-buffer {
            background-color: lighten($color, $lighten);
        }
    }
}

.pokemon-stat-bar {
    height: 7px;
    border-radius: 10px;

    &--hp {
        @include pokemon-stat-bar-color($grass);
    }

    &--attack {
        @include pokemon-stat-bar-color($red, 30);
    }

    &--defense {
        @include pokemon-stat-bar-color($water);
    }

    &--special-attack {
        @include pokemon-stat-bar-color($boston-university-red, 40);
    }

    &--special-defense {
        @include pokemon-stat-bar-color($special-defense-blue, 30);
    }

    &--speed {
        @include pokemon-stat-bar-color($ground, 15);
    }
}
