<mat-accordion>

    <mat-expansion-panel
        class="pokemon-detail-card"
        togglePosition="before"
        [expanded]="data.isExpanded"
        [hideToggle]="data.isToggleHidden"
        [style.borderTop]="'5px solid #' + data.borderColor">

        <mat-expansion-panel-header class="pokemon-detail-card__header">
            <mat-panel-title *ngIf="data.panelTitle">
                <h3 class="title">{{ data.panelTitle }}</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="pokemon-detail-card__content">
            <ng-content></ng-content>
        </div>

    </mat-expansion-panel>

</mat-accordion>
