<app-nav-wrapper>

    <div class="container">

        <!-- Controls -->
        <!-- <form [formGroup]="pokemonSearchFormGroup">
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    formControlName="searchFilter"
                    placeholder="Filter displayed Pokémon" />
            </mat-form-field>
        </form> -->

        <div *ngIf="allPokemonData$ | async as allPokemonData">

            <!-- Pokemon List -->
            <div class="pokemon-list">
                <app-pokemon-list-item
                    *ngFor="let pokemon of allPokemonData?.pokemons"
                    [pokemon]="pokemon">
                </app-pokemon-list-item>
            </div>

            <!-- Pagination -->
            <mat-paginator
                showFirstLastButtons
                [length]="allPokemonData?.meta?.count"
                [pageSize]="pageSize"
                [pageSizeOptions]="[1, 5, 10, 20]"
                (page)="pageEvent = $event; onPaginateChange($event)">
            </mat-paginator>

        </div>

    </div>

</app-nav-wrapper>
