<app-nav-wrapper>

    <div class="container">

        <!-- Search -->

        <mat-form-field>
            <input
                type="text"
                matInput
                placeholder="Search for a Pokémon e.g. Charizard"
                [(ngModel)]="searchQuery"
                (onDebounce)="onSearchFilterChange($event)" />
        </mat-form-field>

        <div *ngIf="filteredPokemon$ | async as filteredPokemon">

            <!-- Pokemon List -->
            <div class="pokemon-list">
                <app-pokemon-list-item
                    *ngFor="let pokemon of filteredPokemon | slice:pageOffset:(currentPage+1)*pageSize"
                    [pokemon]="pokemon">
                </app-pokemon-list-item>
            </div>

            <!-- Pagination -->
            <mat-paginator
                #paginator
                showFirstLastButtons
                [length]="filteredPokemonCount$ | async"
                [pageSize]="pageSize"
                [pageSizeOptions]="[1, 5, 10, 20]"
                (page)="pageEvent = $event; onPaginateChange($event)">
            </mat-paginator>

        </div>

    </div>

</app-nav-wrapper>
