<app-nav-wrapper>

    <div *ngIf="allPokemonData$ | async as allPokemonData" class="container">

        <!-- Search -->

        <!-- Filters? -->

        <div class="pokemon-list">
            <app-pokemon-list-item
                *ngFor="let pokemon of allPokemonData?.pokemons"
                [pokemon]="pokemon">
            </app-pokemon-list-item>
        </div>

        <!-- Pagination -->
        <mat-paginator
            showFirstLastButtons
            [length]="allPokemonData?.meta.count"
            [pageSize]="pageSize"
            [pageSizeOptions]="[1, 5, 10, 20]"
            (page)="pageEvent = $event; onPaginateChange($event)">
        </mat-paginator>

    </div>

</app-nav-wrapper>
