@import 'colors';

.nav-links {
    display: flex;
    flex-direction: column;

    .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;

        i {
            font-size: 28px;
            margin-bottom: 5px;
        }

        h4 {
            font-size: 16px;
        }

        &:hover {
            background-color: $boston-university-red;
            color: $white;
            cursor: pointer;
        }
    }

    .active {
        background-color: $red;
        color: $white;
    }
}
