<app-nav-wrapper>
    <div class="container">
        <!-- Top -->
        <div class="pokemon">
            <div class="pokemon__image">
                <!-- <img class="image"
                    [src]="'https://pokeres.bastionbot.org/images/pokemon/1.png'"
                    [alt]="'bulbasaur' | titlecase"> -->
                <img class="stamp" [src]="'/assets/images/pokeball.svg'">
            </div>
            <div class="pokemon__info">
                <h2 class="name">{{ 'Bulbasaur' | titlecase }}</h2>
                <h1 class="id">{{ '#1' }}</h1>
            </div>
        </div>

        <!-- Table of contents -->
        <div class="table-of-contents">
            <p class="table-of-contents__heading">Table of contents</p>
            <ul class="table-of-contents__list">
                <li class="list-item">
                    <a (click)="onClickAnchor('pokemon-type')">Pokémon type</a>
                </li>
                <li class="list-item">
                    <a (click)="onClickAnchor('pokemon-stats')">Pokémon stats</a>
                </li>
            </ul>
        </div>

        <!-- Info -->
        <div class="pokemon-details">
            <div class="pokemon-details__left-column">
                <!-- Types -->
                <app-pokemon-detail-card id="pokemon-type" class="pokemon-type" panelTitle="Pokémon type">
                    <div class="pokemon-type__pills flex-row">
                        <app-pokemon-type-pill
                            *ngFor="let type of pokemon.types"
                            [type]="type">
                        </app-pokemon-type-pill>
                    </div>
                    <div class="flex-row">
                        <!-- TODO: Effective against -->

                        <!-- TODO: Vulnerable to -->
                    </div>
                </app-pokemon-detail-card>
            </div>

            <div class="pokemon-details__right-column">
                <!-- Base Stats -->
                <app-pokemon-detail-card id="pokemon-stats" class="pokemon-stats" panelTitle="Pokémon stats">
                    <div class="pokemon-stats__bars">
                        <app-pokemon-stat-table [pokemonStats]="pokemon.stats"></app-pokemon-stat-table>
                    </div>
                </app-pokemon-detail-card>
            </div>
        </div>
    </div>
</app-nav-wrapper>
