<div class="container">

    <mat-sidenav-container>

        <mat-sidenav [opened]="true" [mode]="'side'">

            <!-- Logo -->
            <img class="brand" src="/assets/images/pokeball.svg" alt="Pokéball" routerLink="/">

            <!-- Top links -->
            <app-nav-links></app-nav-links>

        </mat-sidenav>

        <mat-sidenav-content>

            <!-- Toolbar -->
            <app-nav-toolbar></app-nav-toolbar>

            <!-- Content -->
            <div class="content">
                <ng-content></ng-content>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
