.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav {
        width: 80px;

        img {
            width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    mat-sidenav-container {
        flex: 1;
    }
}
