<div
    #originOverlay="cdkOverlayOrigin"
    class="pill"
    cdkOverlayOrigin
    [ngClass]="'pill--' + type.type.name"
    (mouseover)="showTypeEffectiveness ? typeEffectivenessShown=true : ''"
    (mouseout)="showTypeEffectiveness ? typeEffectivenessShown=false : ''">
    {{ type.type.name | titlecase }}
</div>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="originOverlay"
    [cdkConnectedOverlayOpen]="typeEffectivenessShown"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayPush]="true">
    <div class="popup">
        <div class="header">
            <img
                class="type-icon"
                [ngClass]="'type-icon--' + type.type.name"
                [src]="'assets/images/pokemon-type-icons/' + type.type.name + '.svg'"
                [alt]="'Pokémon Type: ' + type.type.name">
            <span>{{ type.type.name | titlecase }} Pokémon</span>
        </div>

        <div class="effectiveness">
            <div class="strong">
                <p>Strong vs.</p>
                <div *ngFor="let strong of typeEffectiveness.strongVs" class="pill" [ngClass]="'pill--' + strong">
                    {{ strong | titlecase}}
                </div>
            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div class="weak">
                <p>Weak vs.</p>
                <div *ngFor="let weak of typeEffectiveness.weakVs" class="pill" [ngClass]="'pill--' + weak">
                    {{ weak | titlecase }}
                </div>
            </div>
        </div>
    </div>
</ng-template>
