@import 'colors';

.pokemon {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 150px;
    min-width: 300px;
    padding: 20px;
    background-color: $white;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);

    .pokemon-id {
        position: absolute;
        font-size: 20px;
    }

    &:hover {
        background-color: $boston-university-red;
        cursor: pointer;
    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;

        .pokemon-image {
            width: 100%;
        }
    }

    mat-divider {
        margin: 0 15px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

        .pokemon-name {
            font-size: 20px;
        }

        .pokemon-types {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        right: 20px;
        font-size: 24px;
    }
}
